/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sp-i-advantages-flow-name: 'sp-i-advantages-flow';
$sp-i-advantages-flow-x: 0px;
$sp-i-advantages-flow-y: 0px;
$sp-i-advantages-flow-offset-x: 0px;
$sp-i-advantages-flow-offset-y: 0px;
$sp-i-advantages-flow-width: 99px;
$sp-i-advantages-flow-height: 54px;
$sp-i-advantages-flow-total-width: 130px;
$sp-i-advantages-flow-total-height: 410px;
$sp-i-advantages-flow-image: '../img/sprite_KDS.png';
$sp-i-advantages-flow: (0px, 0px, 0px, 0px, 99px, 54px, 130px, 410px, '../img/sprite_KDS.png', 'sp-i-advantages-flow', );
$sp-i-advantages-reporter-name: 'sp-i-advantages-reporter';
$sp-i-advantages-reporter-x: 0px;
$sp-i-advantages-reporter-y: 59px;
$sp-i-advantages-reporter-offset-x: 0px;
$sp-i-advantages-reporter-offset-y: -59px;
$sp-i-advantages-reporter-width: 55px;
$sp-i-advantages-reporter-height: 55px;
$sp-i-advantages-reporter-total-width: 130px;
$sp-i-advantages-reporter-total-height: 410px;
$sp-i-advantages-reporter-image: '../img/sprite_KDS.png';
$sp-i-advantages-reporter: (0px, 59px, 0px, -59px, 55px, 55px, 130px, 410px, '../img/sprite_KDS.png', 'sp-i-advantages-reporter', );
$sp-i-advantages-speaker-name: 'sp-i-advantages-speaker';
$sp-i-advantages-speaker-x: 0px;
$sp-i-advantages-speaker-y: 119px;
$sp-i-advantages-speaker-offset-x: 0px;
$sp-i-advantages-speaker-offset-y: -119px;
$sp-i-advantages-speaker-width: 57px;
$sp-i-advantages-speaker-height: 54px;
$sp-i-advantages-speaker-total-width: 130px;
$sp-i-advantages-speaker-total-height: 410px;
$sp-i-advantages-speaker-image: '../img/sprite_KDS.png';
$sp-i-advantages-speaker: (0px, 119px, 0px, -119px, 57px, 54px, 130px, 410px, '../img/sprite_KDS.png', 'sp-i-advantages-speaker', );
$sp-i-bottom-info-name: 'sp-i-bottomInfo';
$sp-i-bottom-info-x: 0px;
$sp-i-bottom-info-y: 178px;
$sp-i-bottom-info-offset-x: 0px;
$sp-i-bottom-info-offset-y: -178px;
$sp-i-bottom-info-width: 43px;
$sp-i-bottom-info-height: 37px;
$sp-i-bottom-info-total-width: 130px;
$sp-i-bottom-info-total-height: 410px;
$sp-i-bottom-info-image: '../img/sprite_KDS.png';
$sp-i-bottom-info: (0px, 178px, 0px, -178px, 43px, 37px, 130px, 410px, '../img/sprite_KDS.png', 'sp-i-bottomInfo', );
$sp-i-header-arrow-maps-name: 'sp-i-header-arrow-maps';
$sp-i-header-arrow-maps-x: 0px;
$sp-i-header-arrow-maps-y: 220px;
$sp-i-header-arrow-maps-offset-x: 0px;
$sp-i-header-arrow-maps-offset-y: -220px;
$sp-i-header-arrow-maps-width: 20px;
$sp-i-header-arrow-maps-height: 27px;
$sp-i-header-arrow-maps-total-width: 130px;
$sp-i-header-arrow-maps-total-height: 410px;
$sp-i-header-arrow-maps-image: '../img/sprite_KDS.png';
$sp-i-header-arrow-maps: (0px, 220px, 0px, -220px, 20px, 27px, 130px, 410px, '../img/sprite_KDS.png', 'sp-i-header-arrow-maps', );
$sp-i-info-name: 'sp-i-info';
$sp-i-info-x: 0px;
$sp-i-info-y: 252px;
$sp-i-info-offset-x: 0px;
$sp-i-info-offset-y: -252px;
$sp-i-info-width: 20px;
$sp-i-info-height: 26px;
$sp-i-info-total-width: 130px;
$sp-i-info-total-height: 410px;
$sp-i-info-image: '../img/sprite_KDS.png';
$sp-i-info: (0px, 252px, 0px, -252px, 20px, 26px, 130px, 410px, '../img/sprite_KDS.png', 'sp-i-info', );
$sp-i-triangle-gray-name: 'sp-i-triangle-gray';
$sp-i-triangle-gray-x: 0px;
$sp-i-triangle-gray-y: 283px;
$sp-i-triangle-gray-offset-x: 0px;
$sp-i-triangle-gray-offset-y: -283px;
$sp-i-triangle-gray-width: 130px;
$sp-i-triangle-gray-height: 127px;
$sp-i-triangle-gray-total-width: 130px;
$sp-i-triangle-gray-total-height: 410px;
$sp-i-triangle-gray-image: '../img/sprite_KDS.png';
$sp-i-triangle-gray: (0px, 283px, 0px, -283px, 130px, 127px, 130px, 410px, '../img/sprite_KDS.png', 'sp-i-triangle-gray', );
$sp-i-advantages-flow-2x-name: 'sp-i-advantages-flow@2x';
$sp-i-advantages-flow-2x-x: 0px;
$sp-i-advantages-flow-2x-y: 0px;
$sp-i-advantages-flow-2x-offset-x: 0px;
$sp-i-advantages-flow-2x-offset-y: 0px;
$sp-i-advantages-flow-2x-width: 198px;
$sp-i-advantages-flow-2x-height: 108px;
$sp-i-advantages-flow-2x-total-width: 260px;
$sp-i-advantages-flow-2x-total-height: 820px;
$sp-i-advantages-flow-2x-image: '../img/sprite_KDS@2x.png';
$sp-i-advantages-flow-2x: (0px, 0px, 0px, 0px, 198px, 108px, 260px, 820px, '../img/sprite_KDS@2x.png', 'sp-i-advantages-flow@2x', );
$sp-i-advantages-reporter-2x-name: 'sp-i-advantages-reporter@2x';
$sp-i-advantages-reporter-2x-x: 0px;
$sp-i-advantages-reporter-2x-y: 118px;
$sp-i-advantages-reporter-2x-offset-x: 0px;
$sp-i-advantages-reporter-2x-offset-y: -118px;
$sp-i-advantages-reporter-2x-width: 110px;
$sp-i-advantages-reporter-2x-height: 110px;
$sp-i-advantages-reporter-2x-total-width: 260px;
$sp-i-advantages-reporter-2x-total-height: 820px;
$sp-i-advantages-reporter-2x-image: '../img/sprite_KDS@2x.png';
$sp-i-advantages-reporter-2x: (0px, 118px, 0px, -118px, 110px, 110px, 260px, 820px, '../img/sprite_KDS@2x.png', 'sp-i-advantages-reporter@2x', );
$sp-i-advantages-speaker-2x-name: 'sp-i-advantages-speaker@2x';
$sp-i-advantages-speaker-2x-x: 0px;
$sp-i-advantages-speaker-2x-y: 238px;
$sp-i-advantages-speaker-2x-offset-x: 0px;
$sp-i-advantages-speaker-2x-offset-y: -238px;
$sp-i-advantages-speaker-2x-width: 114px;
$sp-i-advantages-speaker-2x-height: 108px;
$sp-i-advantages-speaker-2x-total-width: 260px;
$sp-i-advantages-speaker-2x-total-height: 820px;
$sp-i-advantages-speaker-2x-image: '../img/sprite_KDS@2x.png';
$sp-i-advantages-speaker-2x: (0px, 238px, 0px, -238px, 114px, 108px, 260px, 820px, '../img/sprite_KDS@2x.png', 'sp-i-advantages-speaker@2x', );
$sp-i-bottom-info-2x-name: 'sp-i-bottomInfo@2x';
$sp-i-bottom-info-2x-x: 0px;
$sp-i-bottom-info-2x-y: 356px;
$sp-i-bottom-info-2x-offset-x: 0px;
$sp-i-bottom-info-2x-offset-y: -356px;
$sp-i-bottom-info-2x-width: 86px;
$sp-i-bottom-info-2x-height: 74px;
$sp-i-bottom-info-2x-total-width: 260px;
$sp-i-bottom-info-2x-total-height: 820px;
$sp-i-bottom-info-2x-image: '../img/sprite_KDS@2x.png';
$sp-i-bottom-info-2x: (0px, 356px, 0px, -356px, 86px, 74px, 260px, 820px, '../img/sprite_KDS@2x.png', 'sp-i-bottomInfo@2x', );
$sp-i-header-arrow-maps-2x-name: 'sp-i-header-arrow-maps@2x';
$sp-i-header-arrow-maps-2x-x: 0px;
$sp-i-header-arrow-maps-2x-y: 440px;
$sp-i-header-arrow-maps-2x-offset-x: 0px;
$sp-i-header-arrow-maps-2x-offset-y: -440px;
$sp-i-header-arrow-maps-2x-width: 40px;
$sp-i-header-arrow-maps-2x-height: 54px;
$sp-i-header-arrow-maps-2x-total-width: 260px;
$sp-i-header-arrow-maps-2x-total-height: 820px;
$sp-i-header-arrow-maps-2x-image: '../img/sprite_KDS@2x.png';
$sp-i-header-arrow-maps-2x: (0px, 440px, 0px, -440px, 40px, 54px, 260px, 820px, '../img/sprite_KDS@2x.png', 'sp-i-header-arrow-maps@2x', );
$sp-i-info-2x-name: 'sp-i-info@2x';
$sp-i-info-2x-x: 0px;
$sp-i-info-2x-y: 504px;
$sp-i-info-2x-offset-x: 0px;
$sp-i-info-2x-offset-y: -504px;
$sp-i-info-2x-width: 40px;
$sp-i-info-2x-height: 52px;
$sp-i-info-2x-total-width: 260px;
$sp-i-info-2x-total-height: 820px;
$sp-i-info-2x-image: '../img/sprite_KDS@2x.png';
$sp-i-info-2x: (0px, 504px, 0px, -504px, 40px, 52px, 260px, 820px, '../img/sprite_KDS@2x.png', 'sp-i-info@2x', );
$sp-i-triangle-gray-2x-name: 'sp-i-triangle-gray@2x';
$sp-i-triangle-gray-2x-x: 0px;
$sp-i-triangle-gray-2x-y: 566px;
$sp-i-triangle-gray-2x-offset-x: 0px;
$sp-i-triangle-gray-2x-offset-y: -566px;
$sp-i-triangle-gray-2x-width: 260px;
$sp-i-triangle-gray-2x-height: 254px;
$sp-i-triangle-gray-2x-total-width: 260px;
$sp-i-triangle-gray-2x-total-height: 820px;
$sp-i-triangle-gray-2x-image: '../img/sprite_KDS@2x.png';
$sp-i-triangle-gray-2x: (0px, 566px, 0px, -566px, 260px, 254px, 260px, 820px, '../img/sprite_KDS@2x.png', 'sp-i-triangle-gray@2x', );
$spritesheet-width: 130px;
$spritesheet-height: 410px;
$spritesheet-image: '../img/sprite_KDS.png';
$spritesheet-sprites: ($sp-i-advantages-flow, $sp-i-advantages-reporter, $sp-i-advantages-speaker, $sp-i-bottom-info, $sp-i-header-arrow-maps, $sp-i-info, $sp-i-triangle-gray, );
$spritesheet: (130px, 410px, '../img/sprite_KDS.png', $spritesheet-sprites, );
$retina-spritesheet-width: 260px;
$retina-spritesheet-height: 820px;
$retina-spritesheet-image: '../img/sprite_KDS@2x.png';
$retina-spritesheet-sprites: ($sp-i-advantages-flow-2x, $sp-i-advantages-reporter-2x, $sp-i-advantages-speaker-2x, $sp-i-bottom-info-2x, $sp-i-header-arrow-maps-2x, $sp-i-info-2x, $sp-i-triangle-gray-2x, );
$retina-spritesheet: (260px, 820px, '../img/sprite_KDS@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sp-i-advantages-flow-group-name: 'sp-i-advantages-flow';
$sp-i-advantages-flow-group: ('sp-i-advantages-flow', $sp-i-advantages-flow, $sp-i-advantages-flow-2x, );
$sp-i-advantages-reporter-group-name: 'sp-i-advantages-reporter';
$sp-i-advantages-reporter-group: ('sp-i-advantages-reporter', $sp-i-advantages-reporter, $sp-i-advantages-reporter-2x, );
$sp-i-advantages-speaker-group-name: 'sp-i-advantages-speaker';
$sp-i-advantages-speaker-group: ('sp-i-advantages-speaker', $sp-i-advantages-speaker, $sp-i-advantages-speaker-2x, );
$sp-i-bottom-info-group-name: 'sp-i-bottomInfo';
$sp-i-bottom-info-group: ('sp-i-bottomInfo', $sp-i-bottom-info, $sp-i-bottom-info-2x, );
$sp-i-header-arrow-maps-group-name: 'sp-i-header-arrow-maps';
$sp-i-header-arrow-maps-group: ('sp-i-header-arrow-maps', $sp-i-header-arrow-maps, $sp-i-header-arrow-maps-2x, );
$sp-i-info-group-name: 'sp-i-info';
$sp-i-info-group: ('sp-i-info', $sp-i-info, $sp-i-info-2x, );
$sp-i-triangle-gray-group-name: 'sp-i-triangle-gray';
$sp-i-triangle-gray-group: ('sp-i-triangle-gray', $sp-i-triangle-gray, $sp-i-triangle-gray-2x, );
$retina-groups: ($sp-i-advantages-flow-group, $sp-i-advantages-reporter-group, $sp-i-advantages-speaker-group, $sp-i-bottom-info-group, $sp-i-header-arrow-maps-group, $sp-i-info-group, $sp-i-triangle-gray-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
