////
/// @group  Variable
////

///
/// @name   object
///


$object : (
	color : (
		white             : #fff,
		black             : #000
	),

	fonts : (

	),

	dimension : (
		all       : 100%
	),
);