
.bottom-info
    .container
        h2.bottom-info__title!= !EN ? "Организатор конференции:" : ""
        i.bottom-info__icon
        p.bottom-info__text!= !EN ? "Data-Driven Digital Agency Septa." : ""