
.bottom-info
    .container
        h2.bottom-info__title!= !EN ? "Организатор конференции:" : "Conference host"
        i.bottom-info__icon.icon-pointer-js
        p.bottom-info__text!= "Data-Driven Digital Agency Septa."