
.logotype.clearfix
    img(src="./img/img-logotype.png", alt="logotype", title="logotype", class="img-logo img-logo_normal")
    img(src="./img/img-logotype@2x.png", alt="logotype", title="logotype", class="img-logo img-logo_retina")
    img(src="./img/img-logotype-mobile.png", alt="logotype", title="logotype", class="img-logo-mobile img-logo-mobile_normal")
    img(src="./img/img-logotype-mobile@2x.png", alt="logotype", title="logotype", class="img-logo-mobile img-logo-mobile_retina")