-
    var linkText = [
        "О конференции",
        "Спикеры",
        "Расписание"
    ];


.nav
    a(href="javascript:void(0);", class="btn-mobile_close")
    -for(var i = 0; i < 3; i++)
        a(href="javascript:void(0);", class="nav__link", title="linkText[i]")!= linkText[i]
