-
    var linkText = [
        "О конференции",
        "Спикеры",
        "Расписание"
    ];
    var linkHref = [
        "#video",
        "#speaker",
        "#program"
    ];


.nav
    a(href="javascript:void(0);", class="btn-mobile_close")
    -for(var i = 0; i < 3; i++)
        a(href= linkHref[i], class="nav__link", title= linkText[i])
            span.nav__link-text!= linkText[i]
