
.slogan
    h1.slogan__title!= !EN ? "Одно из крупнейших </br> мероприятий про данные </br> в Восточной Европе" : ""
    p.slogan__text!=  !EN ? "Kyiv Data Spring – главная площадка, где встречаются и делятся знаниями люди, заинтересованные в развитии больших данных и машинного обучения." : ""