///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";
@import "../../_variable/sprite_KDS";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
$c-dimGray	        : return-value(color, dimGray);
$c-darkOrange  	    : return-value(color, darkOrange);
$c-orange     	    : return-value(color, orange);

$f-GP_regular       : return-value(fonts, GP_regular);
///
/// MAIN BLOCK
///
.box {
	padding-bottom: 60px;


	&__row {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-between;
		text-align: center;
		cursor: pointer;
		flex-wrap: wrap;
	}


	&__main-block {
		position: relative;
		width: 350px;
		height: 500px;
		border-radius: 10px;
		border: 3px solid transparent;
		transition-duration: .5s;
		transition-timing-function: ease-in-out;
		@include respond-to("large") {
			width: 320px;
		}


		.wrap {
			width: 330px;
			margin: 0 auto;
			padding: 25px 5px;
		}


		&:hover {
			border: 3px solid $c-orange;
			background-color: $c-darkOrange;
			box-shadow: 0 21px 28px 0 rgba(1, 2, 2, 0.23);
			transition-property: border, background-color, box-shadow;


			.box__img {
				box-shadow: 0 21px 28px 0 rgba(1, 2, 2, 0.23);
				transition-property: box-shadow;
			}
			.box-name,
			.box-work {
				color: $c-white;
				transition-property: color;
			}
			.icon-box-0,
			.icon-box-1 {
				&:before,
				&:after {
					opacity: 1;
					transition-property: opacity;
				}
			}
		}
	}


	&__img {
		max-width: 100%;
		margin-bottom: 50px;
	}


	&-name {
		position: relative;
		margin-bottom: 30px;
		font-size: 22px;


		&:before {
			top: -10px;
		}


		&:after {
			bottom: -10px;
		}


		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			background-color: $c-white;
			@include mixinDimensions(30px, 5px);
		}
	}


	&-work {
		text-align: left;
		font-family: $f-GP_regular;
	}


	&-name,
	&-work {
		color: $c-dimGray;
	}


	&__more {
		text-align: center;
		margin-top: 30px;
	}
}


.btn__more {
	display: inline-block;
	border: 2px solid $c-darkOrange;
	border-radius: 4px;
	height: 56px;
	line-height: 56px;
	padding: 0 30px;
	color: $c-darkOrange;
}


.icon-box {
	&-0 {
		&:before {
			@include retina-sprite($sp-i-triangle-y-0-group);
			left: -20px;
			top: 100px;
		}
		&:after {
			@include retina-sprite($sp-i-triangle-y-1-group);
			top: -30px;
			right: -20px;
		}
	}
	&-1 {
		&:before {
			@include retina-sprite($sp-i-triangle-y-2-group);
			top: 150px;
			right: 10px;
		}
	}


	&-0,
	&-1 {
		&:before,
		&:after {
			opacity: 0;
			content: "";
			position: absolute;
		}
	}
}