///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";
@import "../../_variable/sprite_KDS";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
$c-dimGray	        : return-value(color, dimGray);
$c-darkOrange  	    : return-value(color, darkOrange);
$c-orange     	    : return-value(color, orange);
$c-summerSky   	    : return-value(color, summerSky);
$c-pelorous   	    : return-value(color, pelorous);

$f-GP_regular       : return-value(fonts, GP_regular);
///
/// MAIN BLOCK
///
.box {
	padding-bottom: 60px;


	&__row {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-between;
		text-align: center;
		cursor: pointer;
		flex-wrap: wrap;
		@include respond-to("medium") {
			flex-direction: column;
		}
	}


	&__main-block {
		position: relative;
		width: 350px;
		height: 500px;
		border-radius: 10px;
		border: 3px solid transparent;
		@include respond-to("large") {
			width: 300px;
		}
		@include respond-to("medium-all") {
			width: $w-all;
			height: auto;
			pointer-events: none;
			margin-bottom:  60px;
			border: 3px solid $c-orange;
			background-color: $c-darkOrange;
			box-shadow: 0 21px 28px 0 rgba(1, 2, 2, 0.23);
		}
		@include respond-to("medium") {
			min-height: 250px;
			padding: 25px 15px;
		}


		&:nth-of-type(even) {
			@include respond-to("medium-all") {
				border-color: $c-summerSky;
				background-color: lighten($c-pelorous, 8%);
			}
		}


		.wrap {
			width: 330px;
			margin: 0 auto;
			padding: 25px 5px;
			@include respond-to("large") {
				width: 280px;
			}
			@include respond-to("medium-all") {
				width: $w-all;
				padding: 25px;
			}
			@include respond-to("medium") {
				padding: 0;
			}


			&-img {
				@include respond-to("medium") {
					width: 40%;
				}
			}
			&-text {
				@include respond-to("medium") {
					width: 60%;
					padding-left: 40px;
					text-align: left;
				}
			}

			&-img,
			&-text {
				@include respond-to("medium") {
					float: left;
				}
			}
		}


		&:hover {
			border: 3px solid $c-orange;
			background-color: $c-darkOrange;
			box-shadow: 0 21px 28px 0 rgba(1, 2, 2, 0.23);
			transition-duration: .5s;
			transition-timing-function: ease-in-out;
			transition-property: border, background-color, box-shadow;


			.box__img {
				box-shadow: 0 21px 28px 0 rgba(1, 2, 2, 0.23);
				transition-duration: .5s;
				transition-timing-function: ease-in-out;
				transition-property: box-shadow;
			}
			.box-name,
			.box-work {
				color: $c-white;
				transition-duration: .5s;
				transition-timing-function: ease-in-out;
				transition-property: color;
			}
			.icon-box-0,
			.icon-box-1 {
				&:before,
				&:after {
					opacity: 1;
					transition-duration: .5s;
					transition-timing-function: ease-in-out;
					transition-property: opacity;
				}
			}
		}
	}


	&__img {
		max-width: 100%;
		margin-bottom: 50px;
		@include respond-to("medium-all") {
			box-shadow: 0 21px 28px 0 rgba(1, 2, 2, 0.23);
		}
	}


	&-name {
		position: relative;
		margin-bottom: 30px;
		font-size: 22px;
		@include respond-to("medium") {
			font-size: 18px;
			margin-top: 10px;
		}


		&:before {
			top: -10px;
		}


		&:after {
			bottom: -10px;
		}


		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			background-color: $c-white;
			@include mixinDimensions(30px, 5px);
			@include respond-to("medium") {
				margin: initial;
			}
		}
	}


	&-work {
		text-align: left;
		font-family: $f-GP_regular;
		@include respond-to("medium") {
			font-size: 15px;
		}
	}


	&-name,
	&-work {
		color: $c-dimGray;
		@include respond-to("medium-all") {
			color: $c-white;
		}
	}


	&__more {
		text-align: center;
		margin-top: 60px;
		@include respond-to("medium-all") {
			margin-top: 30px;
		}
	}
}


.btn__more {
	display: inline-block;
	border: 2px solid $c-darkOrange;
	border-radius: 4px;
	height: 56px;
	line-height: 56px;
	padding: 0 30px;
	color: $c-darkOrange;
}


.icon-box {
	&-0 {
		&:before {
			@include retina-sprite($sp-i-triangle-y-0-group);
			left: -20px;
			top: 100px;
		}
		&:after {
			@include retina-sprite($sp-i-triangle-y-1-group);
			top: -30px;
			right: -20px;
			@include respond-to("medium") {
				right: 50%;
			}
		}
	}
	&-1 {
		&:before {
			@include retina-sprite($sp-i-triangle-y-2-group);
			top: 150px;
			right: 10px;
			@include respond-to("medium") {
				right: 53%;
			}
		}
	}


	&-0,
	&-1 {
		&:before,
		&:after {
			opacity: 0;
			content: "";
			position: absolute;
			@include respond-to("medium-all") {
				opacity: 1;
			}
		}
	}
}

.even {
	.icon-box {
		&-0 {
			&:before {
				@include respond-to("medium-all") {
					@include retina-sprite($sp-i-triangle-b-0-group);
					left: -45px;
				}
			}
			&:after {
				@include respond-to("medium-all") {
					@include retina-sprite($sp-i-triangle-b-1-group);
				}
			}
		}
		&-1 {
			&:before {
				@include respond-to("medium-all") {
					@include retina-sprite($sp-i-triangle-b-2-group);
				}
				@include respond-to("medium") {
					right: 56%;
				}
			}
		}
	}
}
