///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";
///
/// IMPORT TEMPLATE
///
@import "../header/logo";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
$c-whiteSmoke       : return-value(color, whiteSmoke);
$c-dimGray	        : return-value(color, dimGray);
$c-summerSky        : return-value(color, summerSky);
$c-darkOrange       : return-value(color, darkOrange);
$c-nobel	        : return-value(color, nobel);

$f-GP_regular       : return-value(fonts, GP_regular);
$f-GP_bold          : return-value(fonts, GP_bold);
///
/// MAIN BLOCK
///
.header {
	position: relative;
	height: 560px;
	@include respond-to("small-all") {
		height: 470px;
	}


	&__container {
		height: auto !important;
	}


	&__row {
		margin-top: 20px;
		border-top: 10px solid $c-darkOrange;
		background-color: #f0f0f0;
		padding-bottom: 70px;
	}


	&__title {
		margin-top: 20px;
		color: $c-dimGray;
		font: {
			size: 30px;
			family: $f-GP_bold;
		}
		line-height: 1.2;
		@include respond-to(large) {
			width: 50%;
			font-size: 28px;
		}
		@include respond-to("medium-all") {
			margin-top: 30px;
		}
		@include respond-to("small-all") {
			font-size: 20px;
		}


		&-text {
			color: $c-summerSky;
			margin-top: 60px;
			font-size: 20px;
			@include respond-to(large) {
				width: 50%;
			}
			@include respond-to("small-all") {
				font-size: 18px;
				margin-top: 60px;
			}
		}
		&_yellow {
			font-size: 40px;
			color: $c-darkOrange;
			@include respond-to("small-all") {
				font-size: 25px;
			}
		}
		&_blue {
			color: $c-summerSky;
		}
	}


	&__book {
		position: absolute;
		right: -250px;
		top: -290px;
		@include respond-to(large) {
			right: -260px;
			top: -240px;
		}
		@include respond-to(medium-all) {
			display: none;
		}
	}
}