@import "../_mixin/mixin";
@import "../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all          : return-value(dimension, all);

$c-white				: return-value(color, white);
$c-darkOrange 	: return-value(color, darkOrange);
$c-orange     	: return-value(color, orange);
$c-dimGray 	    : return-value(color, dimGray);
$c-whiteSmoke   : return-value(color, whiteSmoke);
$c-gainsboro    : return-value(color, gainsboro);
$c-whisper      : return-value(color, whisper);
$c-summerSky    : return-value(color, summerSky);
$c-pelorous     : return-value(color, pelorous );
$c-darkPastelGreen: return-value(color, darkPastelGreen);

$f-GP_bold      : return-value(fonts, GP_bold);
$f-GP_black     : return-value(fonts, GP_black);


///
/// MAIN
///
.block_skew {
	transform: skewX(-45deg);
}


.btn {
	text-align: center;


	&-header {
		bottom: 165px;
		@include respond-to("medium") {
			left: 100px;
		}
		@include respond-to("small-all") {
			bottom: 103px;
		}
	}


	&-timer {
		top: -15px;
		@include respond-to("extra-small") {
			width: 220px;
		}
	}


	&__price {
		position: absolute;
		display: inline-block;
		bottom: -30px;
		left: 0;
		right: 0;
	}


	&-header,
	&-timer,
	&-discover {
		position: absolute;
		z-index: 11;
		left: 0;
		right: 0;
		margin: auto;
		max-width: 310px;
		color: $c-white;
		font: {
			size: 20px;
			family: $f-GP_bold;
		}
		@include respond-to("medium") {
			max-width: 300px;
		}
	}


	&-thank {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 320px;
		height: 60px;
		line-height: 60px;
		text-transform: uppercase;
		color: $c-white;
		box-shadow: 0 21px 28px 0 rgba(1,2,2,0.23);
		font: {
			size: 20px;
			family: $f-GP_bold;
		}


		&:hover {
			@include mixinGradient($c-orange, $c-orange);
		}


		&:active {
			@include mixinGradient($c-orange, $c-darkOrange);
		}
	}



	&-discover {
		bottom: -135px;
		left: -10px;
		margin: initial;
		@include respond-to("extra-small") {
			left: 0;
		}
	}


	&-timer,
	&-header,
	&-discover {
		&:hover,
		&:active {
			.block_skew {
				transform: skewX(0deg);
				transition: all .3s linear;
			}
		}


		&:active {
			.btn_orange {
				@include mixinGradient(lighten($c-orange, 3%), lighten($c-darkOrange, 3%));
			}
		}
	}


	&__submit {
		padding: 0;
		width: 280px;
		height: 56px;
		line-height: 56px;
		@include mixinGradient($c-orange, $c-darkOrange);
		border: 2px solid $c-orange;
		border-radius: 4px;
		color: $c-white;
		font: {
			size: 19px;
			family: $f-GP_bold;
		}
		@include respond-to("medium") {
			width: 220px;
			font-size: 17px;
		}
		@include respond-to("small-all") {
			width: 100%;
			font-size: 16px;
		}


		&:hover {
			@include mixinGradient($c-orange, $c-orange);
		}


		&:active {
			@include mixinGradient($c-orange, $c-darkOrange);
		}
	}


	&_orange {
		@include mixinGradient($c-orange, $c-darkOrange);
		border: 2px solid $c-orange;
		color: $c-white;
	}


	&_gray {
		@include mixinGradient(#ebebeb, #e0e0e0);
		border: 2px solid #e0e0e0;
		color: $c-dimGray;
	}


	&_small {
		margin: auto;
		max-width: 260px;
		height: 60px;
		line-height: 60px;
		@include respond-to("medium") {
			max-width: 250px;
			height: 55px;
			line-height: 55px;
		}
	}


	&_big {
		margin: auto;
		max-width: 330px;
		height: 65px;
		line-height: 65px;
		font-size: 22px;
		border-radius: 4px;
		box-shadow: 0 21px 28px 0 rgba(1, 2, 2, 0.23);
		@include respond-to("medium-all") {
			max-width: 250px;
			font-size: 19px;
		}
	}


	&__text {
		position: absolute;
		top: 0;
		left: 0;
		line-height: 60px;
		@include mixinDimensions($w-all);
		@include respond-to("medium") {
			line-height: 55px;
		}
	}



	&__price{
		&.btn_orange {
			&:hover {
				border-color: $c-darkPastelGreen;
				@include mixinGradient($c-darkPastelGreen, darken($c-darkPastelGreen, 8%));
			}


			&:active {
				border-color: darken($c-darkPastelGreen, 5%);
				@include mixinGradient(lighten($c-darkPastelGreen, 8%), darken($c-darkPastelGreen, 5%));
			}


			&:hover,
			&:active {
				transition: all .3s linear;
			}
		}


		&.btn_gray {
			&:hover {
				border-color: #ebebeb;
				@include mixinGradient(#ebebeb, #fddede);
			}


			&:active {
				border-color: #e0e0e0;
				@include mixinGradient(lighten(#ebebeb, 4%), lighten(#fddede, 2%));
			}


			&:hover,
			&:active {
				transition: all .3s linear;
			}
		}
	}
}


.main {
	&__title {
		color: $c-dimGray;
		font: {
			size: 45px;
			family: $f-GP_black;
		}
		text-align: center;
		line-height: 1;
		margin-bottom: 40px;
		padding-top: 5px;
		@include respond-to("medium") {
			font-size: 35px;
		}
		@include respond-to("small-all") {
			font-size: 20px;
		}
	}
}


.navigation {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	line-height: 90px;
	background-color: $c-white;
	box-shadow: 0 2px 20px 0 rgba(0,0,0,0.3);
	overflow: hidden;


	&_fixed {
		display: none;
	}


	&__wrap {
		position: absolute;
		top: 0;
		right: -250px;
		width: 88%;
		background-color: $c-pelorous;
		height: 90px;
		@include respond-to(large) {
			right: -50px;
		}
	}


	&__row {
		float: right;
	}
}

.nav__reservations {
	padding: 10px 15px;
	font: {
		size: 15px;
		family: $f-GP_bold;
	}
	color: $c-white;
	margin-left: 70px;
	text-transform: uppercase;
	white-space: nowrap;
	background-color: $c-darkOrange;
	border: 2px solid $c-orange;
	box-shadow: 0 21px 28px 0 rgba(1,2,2,0.23);


	&:hover {
		@include mixinGradient($c-orange, $c-orange);
	}


	&:active {
		@include mixinGradient($c-orange, $c-darkOrange);
	}
}

.img-logo-fixed {
	float: left;
	margin-top: 18px;
	cursor: pointer;
}

.modal {
	position: absolute;
	z-index: 101;
	top: 50%;
	left: 50%;
	@include mixinDimensions(430px, 546px);
	margin-top: -273px;
	margin-left: -215px;
	background-color: $c-white;
}

.hidden{opacity:0}
.visibly{opacity:1}
.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}