///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);

$f-GP_regular       : return-value(fonts, GP_regular);
$f-GP_bold          : return-value(fonts, GP_bold);
///
/// MAIN BLOCK
///
body,
html{
	width: $w-all;
}


html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow-x: hidden;
}


body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;

	min-height: $w-all;

	line-height: 1.42857143;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-family: $f-GP_bold;

	background-color: $c-white;


	&.open-menu {
		overflow: hidden;
	}


	&.open-popup {
		overflow: hidden;
		//position: fixed;
		//@include mixinDimensions($w-all);
		//
		//
		//&:before {
		//	content: "";
		//	position: fixed;
		//	z-index: 1000;
		//	top: 0;
		//	left: 0;
		//	@include mixinDimensions($w-all);
		//	background-color: rgba(0,0,0,.8);
		//}
	}
}

* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}


p,
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}


ul{
	margin: 0;
	padding: 0;

	li{
		list-style: none;
	}
}


a{
	outline: none;
	text-decoration: none;
	color: #222;

	&:hover,
	&:focus {
		outline: none;
	}
}

input{
	outline: none;
}


input[type="text"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}
input[type=radio],
input[type=checkbox] {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	border: none;
	margin: 0;
	padding: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	outline: 0;
}


.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}