@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite_KDS";
///
/// DECLARATION VARIABLE
///
$w-all          : return-value(dimension, all);

$c-white				: return-value(color, white);
$c-dimGray   		: return-value(color, dimGray);
$c-summerSky 		: return-value(color, summerSky);

///
/// MAIN
///
.advantages {
	min-height: 470px;
	@include respond-to("small-all") {
		min-height: 400px;
		padding-top: 30px;
		padding-bottom: 20px;
	}



	&__row {
		height: 470px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		@include respond-to("small-all") {
			height: auto;
			flex-direction: column;
		}
	}


	&__wrap {
		display: inline-block;
		padding-right: 10px;
		width: (100 / 3) * 1%;
		margin: auto;
		height: 240px;
		@include respond-to("small-all") {
			width: $w-all;
			margin-bottom: 15px;
			height: auto;
		}
	}


	&__icon {
		position: relative;
		display: block;
		@include retina-sprite($sp-i-triangle-gray-group);
		@include respond-to("small-all") {
			float: left;
			margin-right: 25px;
		}


		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 0;
		}

		&:after {
			bottom: -20px;
			background-color: $c-summerSky;
			@include mixinDimensions(16px, 5px);
			@include respond-to("small-all") {
				bottom: auto;
				top: 35px;
				right: -40px;
				left: auto;
			}
		}
	}


	&__text {
		margin-top: 50px;
		color: $c-dimGray;
		font-size: 21px;
		@include respond-to("medium") {
			font-size: 15px;
		}
		@include respond-to("small-all") {
			font-size: 13px;
		}
	}
}


@each $className, $imgName in
	("advantages_speaker",   $sp-i-advantages-speaker-group),
	("advantages_flow",      $sp-i-advantages-flow-group),
	("advantages_reporter",  $sp-i-advantages-reporter-group)
{
	.advantages__wrap.#{$className} {
		.advantages__icon{
			&:before {
				top: 0;
				bottom: 0;
				margin: auto;
				@include retina-sprite($imgName);
			}
		}
	}
}