@import "../_mixin/mixin";
@import "../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white			: return-value(color, white);
$c-whiteSmoke  	    : return-value(color, whiteSmoke);
$c-summerSky   	    : return-value(color, summerSky);
$c-darkOrange   	: return-value(color, darkOrange);

$f-GP_bold          : return-value(fonts, GP_bold);
///
/// MAIN
///
.discover {
	margin: 150px 0;
	min-height: 390px;
	border-top: 10px solid $c-darkOrange;
	background-color: #f0f0f0;


	&__book {
		position: absolute;
		right: -300px;
		top: -290px;
	}


	&__title {
		font-size: 30px;
		line-height: 1.5;
		margin-top: 50px;
		margin-bottom: 60px;
		@include respond-to("small-all") {
			font-size: 20px;
			margin-bottom: 40px;
		}
	}


	&__subtitle {
		font-size: 22px;
		@include respond-to("small-all") {
			font-size: 18px;
		}
	}


	&__title,
	&__subtitle {
		text-transform: uppercase;
		color: $c-summerSky;
		font-family: $f-GP_bold;
	}
}