///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite_KDS";
///
/// IMPORT TEMPLATE
///
@import "header/nav";
@import "header/logo";
@import "header/bottomInfo";
@import "header/slogan";
///
/// DECLARATION VARIABLE
///
$w-all        : return-value(dimension, all);

$c-whiteSmoke : return-value(color, whiteSmoke);
$c-summerSky  : return-value(color, summerSky);
$c-pelorous   : return-value(color, pelorous);
$c-dimGray    : return-value(color, dimGray);

$f-GP_bold    : return-value(fonts, GP_bold);
$f-GP_light   : return-value(fonts, GP_light);


///
/// MAIN
///
.header {
	position: relative;
	min-height: render-pixel(925);
	overflow: hidden;
	background: $c-whiteSmoke;
	@include respond-to("small-all") {
		min-height: 680px;
	}


	&__wrap {
		position: absolute;
		width: $w-all;
		min-width: 930px;
		min-height: 925px;
		top: 0;
		left: 0;
		@include respond-to("medium-all") {
			min-width: $w-all;
		}
		@include respond-to("small-all") {
			min-height: 680px;
		}

		&:after {
			content: "";
			position: absolute;
			@include mixinDimensions(1061px, 700px);
			right: -333px;
			top: 225px;
			background: url("../img/img-headerMap-desktop.png") no-repeat;
			@include respond-to("large-all") {
				@include mixinDimensions(600px, 532px);
				right: -250px;
				top: 393px;
				background-image: url("../img/img-headerMap-tablet.png");
			}
		}

		&-row {
			position: absolute;
			z-index: 10;
			top: 0;
			left: -80px;
			background: $c-pelorous;
			min-width: 930px;
			min-height: 925px;
			box-shadow: inset 0 5px 40px 0 rgba(0, 0, 0, 0.35);
			@include respond-to("medium") {
				min-width: 800px;
			}
			@include respond-to("small-all") {
				left: -220px;
				min-width: 520px;
			}
		}
	}
}


.btn-mobile {
	display: none;
	position: absolute;
	z-index: 11;
	right: 15px;
	top: 55px;
	cursor: pointer;
	@include mixinDimensions(55px);
	border-radius: $w-all;
	background-color: $c-summerSky;
	box-shadow: 0 4px 15px 4px rgba(0,0,0,0.2);
	@include respond-to("medium-all") {
		display: block;
	}


	&.btn_fixed {
		position: fixed;
		z-index: 12;
	}


	&__line {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin: -1px auto 0;
		@include mixinDimensions(20px, 2px);
		background-color: $c-white;


		&:before {
			top: -6px;
		}
		&:after {
			bottom: -6px;
		}
		&:after,
		&:before {
			content: "";
			position: absolute;
			left: 0;
			@include mixinDimensions(20px, 2px);
			background-color: $c-white;
		}
	}
}

.maps-arrow {
	position: absolute;
	z-index: 11;
	right: 80px;
	top: 50%;
	margin-top: -60px;
	color: $c-dimGray;
	font: {
		family: $f-GP_bold;
	}
	@include respond-to("large") {
		right: 40px;
		top: 60%;
		margin-top: 0;
	}
	@include respond-to("medium") {
		right: 40px;
		top: 60%;
		margin-top: 0;
	}
	@include respond-to("small-all") {
		display: none;
	}


	&__icon {
		float: right;
		@include retina-sprite($sp-i-header-arrow-maps-group);
	}
	&__title {

	}
	&__data {
		font-family: $f-GP_light;
	}
	&__num {
		font-family: $f-GP_bold;
		color: $c-summerSky;
	}

	&__title,
	&__data {
		line-height: 1;
		position: relative;
		top: 15px;
	}

	&__title,
	&__data {
		font-size: 35px;
	}

	&__title,
	&__data {
		@include respond-to("medium") {
			font-size: 20px;
			line-height: inherit;
			position: relative;
			top: 30px;
			left: 50px;
		}
	}
}