@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite_KDS";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white				    : return-value(color, white);
$c-whiteSmoke  	    : return-value(color, whiteSmoke);
$c-summerSky   	    : return-value(color, summerSky);
$c-darkOrange  	    : return-value(color, darkOrange);
$c-orange     	    : return-value(color, orange);
$c-dimGray     	    : return-value(color, dimGray);

$f-GP_bold          : return-value(fonts, GP_bold);
$f-GP_regular       : return-value(fonts, GP_regular);
///
/// MAIN
///
.speaker {
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 80px;
	@include respond-to("small-all") {
		padding-bottom: 0;
	}


	&__main-row,
	&__dop-row {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-between;
		text-align: center;
		cursor: pointer;
		flex-wrap: wrap;
	}



	&__main-row {
		margin-bottom: 50px;
		@include respond-to("small-all") {
			margin-bottom: 0;
		}
	}


	&__dop-row {
		@include respond-to("small-all") {
			display: none;
		}

		&.open {
			display: block;
		}
	}


	&__main-block {
		position: relative;
		width: 290px;
		height: 500px;
		border-radius: 10px;
		border: 3px solid transparent;
		@include respond-to("large") {
			width: 320px;
		}
		@include respond-to("small-all") {
			width: 50%;
			height: auto;
		}


		.wrap {
			position: relative;
			width: 270px;
			margin: 0 auto;
			padding: 25px 5px;
			@include respond-to("small-all") {
				width: 100%;
			}
		}


		&:hover {
			@include respond-to("medium-min") {
				border: 3px solid $c-orange;
				@include mixinGradient($c-orange, $c-darkOrange);
				box-shadow: 0 21px 28px 0 rgba(1, 2, 2, 0.23);
				transition-duration: .5s;
				transition-timing-function: ease-in-out;
				transition-property: border, background, box-shadow;


				.speaker__img {
					box-shadow: 0 21px 28px 0 rgba(1, 2, 2, 0.23);
					transition-duration: .5s;
					transition-timing-function: ease-in-out;
					transition-property: box-shadow;
				}
				.speaker__block-name,
				.speaker__block-work {
					color: $c-white;
					transition-duration: .5s;
					transition-timing-function: ease-in-out;
					transition-property: color;
				}
				.icon-speaker-0,
				.icon-speaker-1 {
					&:before,
					&:after {
						opacity: 1;
						transition-duration: .5s;
						transition-timing-function: ease-in-out;
						transition-property: opacity;
					}
				}
			}
		}


		&:active,
		&:hover {
			@include respond-to("medium-all") {
				border: 3px solid $c-orange;
				box-shadow: 0 21px 28px 0 rgba(1, 2, 2, 0.23);
				transition-duration: .5s;
				transition-timing-function: ease-in-out;
				transition-property: border, box-shadow;
			}
		}
	}


	&__dop-block {
		width: 170px;
		border: 3px solid transparent;
		@include respond-to("large") {
			width: 300px;
			margin-bottom: 20px;
		}
		@include respond-to("medium") {
			width: (100 / 3) * 1%;
			padding: 10px 0;
		}
		@include respond-to("small-all") {
			float: left;
			width: 50%;
			padding: 25px 5px 0;
		}


		&:active,
		&:hover {
			@include respond-to("medium-min") {
				border: 3px solid $c-orange;
				@include mixinGradient($c-orange, $c-darkOrange);
				box-shadow: 0 21px 28px 0 rgba(1, 2, 2, 0.23);
				transition-duration: .5s;
				transition-timing-function: ease-in-out;
				transition-property: border, background, box-shadow;


				.speaker__block-name,
				.speaker__block-work {
					color: $c-white;
					transition-duration: .5s;
					transition-timing-function: ease-in-out;
					transition-property: color;
				}
			}
			@include respond-to("medium-all") {
				border-radius: 10px;
				border: 3px solid $c-orange;
				box-shadow: 0 21px 28px 0 rgba(1, 2, 2, 0.23);
				transition-duration: .5s;
				transition-timing-function: ease-in-out;
				transition-property: border-radius, border, box-shadow;
			}
		}



		.speaker__img {
			margin-bottom: 15px;
		}
	}


	&__img {
		max-width: 100%;
		margin-bottom: 50px;
		@include respond-to("small-all") {
			margin-bottom: 0;
		}
	}


	&__block {
		&-name {
			position: relative;
			margin-bottom: 30px;
			font-size: 22px;


			&:before {
				top: -10px;
			}


			&:after {
				bottom: -10px;
			}


			&:before,
			&:after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				background-color: $c-white;
				@include mixinDimensions(30px, 5px);
			}
		}


		&-work {
			font: {
				size: 18px;
				family: $f-GP_regular;
			}
		}


		&-name,
		&-work {
			color: $c-dimGray;
			@include respond-to("small-all") {
				display: none;
			}
		}
	}


	&__dop-block {
		.speaker__block-name,
		.speaker__block-work {
			font-size: 14px;
		}
	}
}


.icon-speaker {
	&-0 {
		&:before {
			@include retina-sprite($sp-i-triangle-y-0-group);
			left: -20px;
			top: 150px;
		}
		&:after {
			@include retina-sprite($sp-i-triangle-y-1-group);
			top: -10px;
			right: -30px;
		}
	}
	&-1 {
		&:before {
			@include retina-sprite($sp-i-triangle-y-2-group);
			bottom: 130px;
			right: -20px;
		}
	}


	&-0,
	&-1 {
		&:before,
		&:after {
			opacity: 0;
			content: "";
			position: absolute;
		}
	}
}


.btn__more {
	display: none;
	@include respond-to("small-all") {
		display: block;
		border: 2px solid $c-orange;
		border-radius: 5px;
		width: $w-all;
		height: 56px;
		line-height: 56px;
		text-align: center;
		color: $c-orange;
	}


	&:active {
		background-color: lighten($c-orange, 4%);
		transition: all 0.3s linear;
	}
}