@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite_KDS";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white				    : return-value(color, white);
$c-dimGray   		    : return-value(color, dimGray);
$c-summerSky 		    : return-value(color, summerSky);
$c-selectiveYellow  : return-value(color, selectiveYellow);
$c-whiteSmoke       : return-value(color, whiteSmoke);
$c-orange           : return-value(color, orange);

$f-GP_light         : return-value(fonts, GP_light);
///
/// MAIN
///
.timer {
	min-height: 790px;
	padding-top: 100px;
	@include respond-to("small-all") {
		min-height: 530px;
		padding-top: 50px;
	}


	&__seconds {
		width: 100%;
		height: 108px;
		background-color: $c-whiteSmoke;
		margin-bottom: 40px;
		box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.25);
		@include respond-to("small-all") {
			height: 80px;
		}


		&-row {
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
	}


	&__data {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		margin-bottom: 40px;


		&-time {
			text-align: center;
			width: (100 / 7) * 1%;
		}


		&-line {
			width: 2px;
			height: 100px;
			background-color: $c-whiteSmoke;
			@include respond-to("medium") {
				height: 80px;
			}
			@include respond-to("small") {
				height: 30px;
			}
			@include respond-to("extra-small") {
				height: 20px;
			}
		}


		&_value {
			font: {
				size: 100px;
			}
			color: $c-summerSky;
			line-height: 1;
			@include respond-to("medium") {
				font-size: 80px;
			}
			@include respond-to("small") {
				font-size: 50px;
			}
			@include respond-to("extra-small") {
				font-size: 30px;
			}
		}
		&_text {
			font: {
				size: 19px;
			}
			@include respond-to("extra-small") {
				font-size: 12px;
			}
		}
		&_value,
		&_text {
			font: {
				family: $f-GP_light;
			}
		}
	}


	&__btn {
		height: 25px;
		margin-top: 15px;
		background-color: $c-summerSky;
	}


	&__info {
		text-align: center;
		margin-bottom: 40px;


		&-icon {
			margin-right: 20px;
			@include retina-sprite($sp-i-info-group);
		}


		&-text {
			font-size: 20px;
			color: $c-summerSky;
			@include respond-to("extra-small") {
				font-size: 16px;
			}

			&_color {
				color: $c-selectiveYellow;
			}
		}


		&-icon,
		&-text {
			display: inline-block;
			vertical-align: middle;
		}
	}
}


.seconds {
	&__wrap {
		margin: 0 5px;
		position: relative;
		@include respond-to("extra-small") {
			margin-left: 0;
			margin-right: 0;
		}


		&-line {
			display: inline-block;
			width: 1px;
			height: 10px;
			margin: 0 6px;
			background-color: $c-summerSky;
			vertical-align: middle;
			@include respond-to("medium") {
				margin-left: 4px;
				margin-right: 4px;
			}
			@include respond-to("small") {
				margin-left: 2px;
				margin-right: 2px;
			}
			@include respond-to("extra-small") {
				margin-left: 1.5px;
				margin-right: 1.5px;
			}


			&:first-of-type,
			&:last-of-type {
				height: 13px;
			}


			&:before {
				content: attr(data-second);
				top: -18px;
				margin-left: -10px;
				text-align: center;
				color: $c-orange;
				font-size: 18px;
				@include respond-to("medium") {
					font-size: 16px;
				}
				@include respond-to("small-all") {
					font-size: 14px;
				}
			}

			&:before,
			&:after {
				opacity: 0;
				position: absolute;
				width: 20px;
				transition: all .1s ease-in-out;
			}


			&.current {
				&:before {
					opacity: 1;
				}
			}


			&.prev {
				background-color: $c-dimGray;
			}
		}
	}
}