-
    var advantagesDataClass = [
        "advantages_speaker",
        "advantages_flow",
        "advantages_reporter"
    ];
    var advantagesDataText = [
        "2 топ спикера </br> из Европы и США",
        "2 потока для </br> менеджеров, маркетологов и разработчиков",
        "Более </br> 15 докладчиков"
    ];

.advantages
    .container
        .advantages__row
            - for(var i = 0, advLen = advantagesDataClass.length; i < advLen; i++)
                div(class="advantages__wrap clearfix " + advantagesDataClass[i])
                    .advantages__icon
                    p.advantages__text!= advantagesDataText[i]
