-
    var newTitle = [
        "НОВЫЕ ЗНАНИЯ",
        "КЕЙСЫ",
        "НЕЙТВОРКИНГ"
    ];
    var newText = [
        "Менеджеры, разработчики, маркетологи, владельцы бизнесов, инвесторы и ученые – фестиваль объединит более 400 людей, которые хотят быть на острие инноваций и стремятся раскрыть потенциал технологий больших данных.",
        "Менеджеры, разработчики, маркетологи, владельцы бизнесов, инвесторы и ученые – фестиваль объединит более 400 людей, которые хотят быть на острие инноваций и стремятся раскрыть потенциал технологий больших данных.",
        "Менеджеры, разработчики, маркетологи, владельцы бизнесов, инвесторы и ученые – фестиваль объединит более 400 людей, которые хотят быть на острие инноваций и стремятся раскрыть потенциал технологий больших данных."
    ];

.new
    .container
        .new__row
            - for(var i = 0; i < 3; i++)
                .new__wrap
                    .new__wrap-img

                    .new__wrap-title!= newTitle[i]
                    .new__wrap-text!= newText[i]
