-
    var priceTitle1_ru  = "АКТУАЛЬНАЯ ЦЕНА",
        priceTitle1_en  = "ACTUAL PRICE",
        priceCurr1_ru   = "<span class='price__sum_big'>2700</span> грн",
        priceCurr1_en   = "<span class='price__sum_big'>2700</span> UAN",
        priceBtn1_ru    = "КУПИТЬ СЕЙЧАС",
        priceBtn1_en    = "BUY NOW",
        priceTitle2_ru  = "ЦЕНА ЧЕРЕЗ <span class='price__text_color'>32</span> ДНЯ",
        priceTitle2_en  = "BY PRICE <span class='price__text_color'>32</span> DAY",
        priceCurr2_ru   = "<span class='price__sum_big'>3200</span> грн",
        priceCurr2_en   = "<span class='price__sum_big'>3200</span> UAN",
        priceBtn2_ru    = "КУПИТЬ ПОТОМ",
        priceBtn2_en    = "BUY LATER";



mixin priceBlock(textBlock, priceBlock, textBtn, btnClassM)
    p.price__text!= textBlock
    p.price__sum!= priceBlock
    a(href="javascript:void(0);", class="btn btn_big btn__price " + btnClassM)!= textBtn


.price
    p.main__title!= !EN ? 'ЦЕНА' : "PRICE"

    .container
        .price__row
            .price__left
                if(!EN)
                    +priceBlock(priceTitle1_ru, priceCurr1_ru, priceBtn1_ru, "btn_orange")
                else
                    +priceBlock(priceTitle1_en, priceCurr1_en, priceBtn1_en, "btn_orange")

            .price__right
                if(!EN)
                    +priceBlock(priceTitle2_ru, priceCurr2_ru, priceBtn2_ru, "btn_gray")
                else
                    +priceBlock(priceTitle2_en, priceCurr2_en, priceBtn2_en, "btn_gray")

