
.subscribe
    .container
        .subscribe__row
            p.subscribe__title!= "Быть в кусре всего </br> что здесь происходит"

            form(action="", class="subscribe__form")
                input(type="text", name="subscribe", class="subscribe__input", placeholder="Введите вашу почту")
                button(type="submit", class="btn btn__submit subscribe__btn")
                    | ПОДПИСАТЬСЯ