mixin secondsLine(num)
    - for(var i = 0; i < num; i++)
        div(class="seconds__wrap")
            -for(var j = 0; j < 5; j++)
                span(class="seconds__wrap-line", data-second="")



.timer
    h2.main__title!= !EN ? "НАЧАЛО ЧЕРЕЗ" : "STARTS IN"

    .timer__seconds
        .container
            .timer__seconds-row
                +secondsLine(12)

    .container
        .timer__data
            div.timer__data-month.timer__data-time
                p.timer__data_value!= "4"
                p.timer__data_text!= !EN ? "месяца" : "months"

            div.timer__data-line.block_skew

            div.timer__data-day.timer__data-time
                p.timer__data_value!= "14"
                p.timer__data_text!= !EN ? "дней" : "days"

            div.timer__data-line.block_skew

            div.timer__data-hour.timer__data-time
                p.timer__data_value!= "22"
                p.timer__data_text!= !EN ? "часа" : "hours"

            div.timer__data-line.block_skew

            div.timer__data-minute.timer__data-time
                p.timer__data_value!= "10"
                p.timer__data_text!= !EN ? "минут" : "minutes"


        h3.main__title!= !EN ? "ГДЕ?" : "WHERE?"

        .timer__info
            i.timer__info-icon
            span.timer__info-text
                span.timer__info-text_color!= !EN ? "Киев, ВДНХ " : "Kyiv, VDNG (Expocenter of Ukraine) "
                span!= !EN ? "11 марта 2017 11:00" : "March, 11 2017 at 11:00 a.m."

    .timer__btn
        .container
            a(href="javascript:void(0);", class="btn btn-timer", title="start")
                div.btn_orange.btn_small.block_skew
                p.btn__text!= !EN ? "СТАРТ" : "START"

