-
    var videoText1_ru = "<strong class='video__text_bold'>Kyiv Data Spring</strong> - одно из крупнейших мероприятий про данные в Восточной Европе. Этот фестиваль  – главная площадка, где встречаются и делятся знаниями люди, заинтересованные в развитии больших данных и машинного обучения.";
    var videoText1_en = "<strong class='video__text_bold'>Kyiv Data Spring</strong> - the most outstanding event about data in Eastern Europe. This festival is the main platform where people interested in big data and machine learning development meet and exchange their experience.";
    var videoText2_ru = "Менеджеры, разработчики, маркетологи, владельцы бизнесов, инвесторы и ученые – фестиваль посетит около 500 профессионалов, которые хотят быть на острие инноваций и стремятся максимально раскрыть потенциал технологий больших данных.";
    var videoText2_en = "This festival brings together more than 500 people who want to be at the forefront of innovation and seek to achieve the potential of big data technologies. They are managers, developers, marketers, business owners, investors, and scientists.";


#video.video

    .video__skale-blue.block_skew
    .video__skale-white.block_skew
    .video__skale-gray.block_skew

    .container.video__row
        .video__row_present
            img(src="./img/img-video.jpeg", class="video__img")
            //video(width='100%', height='100%', autoplay=false, muted=false, loop=false, controls=true)
                source(src='')


        .video__row_static
            p.video__text!= !EN ? videoText1_ru : videoText1_en
            br
            p.video__text!= !EN ? videoText2_ru : videoText2_en
