include _mixin/mixin


doctype html
html(lang="en")


    +headSite("KDS confirm", linkSite.confirmStyleLink, "")


    body


        block logo
            .logotype_center
                include _template/macros/logo

        block thank
            include _template/thank

        block footer
            include _template/footer