include _mixin/mixin


doctype html
html(lang="en")


    +headSite("KDS", linkSite.styleLink, "")


    body

        // BLOCK HEADER [nav, bottomInfo, logo, slogan]
        block header
            include _template/header

        block advantages
            include _template/advantages

        block video
            include _template/video

        block timer
            include _template/timer

        block new
            include _template/new

        block speaker
            include _template/speaker

        block price
            include _template/price

        block discover
            include _template/discover

        block program
            include _template/program

        block price
            include _template/price

        block sponsor
            include _template/sponsor

        block partner
            include _template/partner

        block subscribe
            include _template/subscribe

        block maps
            include _template/maps

        block footer
            include _template/footer


        script(type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false")
        - for(var i = 0; i < linkSite.scriptLink.length; i++)
            script(src= linkSite.scriptLink[i])