include _mixin/mixin

-
    var linkText = [
        "О конференции",
        "Спикеры",
        "Расписание"
    ];
    var linkHref = [
        "#video",
        "#speaker",
        "#program"
    ];


doctype html
html(lang="en")


    +headSite("KDS", linkSite.styleLink, "")


    body


        .navigation.navigation_fixed
            .navigation__wrap.block_skew
            .container.clearfix
                img(src="./img/img-logo-fixed.png", class="img-logo-fixed")
                .navigation__row
                    -for(var i = 0; i < linkText.length; i++)
                        a(href= linkHref[i], class="nav__link", title= linkText[i])
                            span.nav__link-text!= linkText[i]

                    a(href="javascript:void(0);", class="nav__reservations")
                        span.nav__link-text!= "Забронировать"


        include _template/header
        include _template/advantages
        include _template/video
        include _template/timer
        include _template/new
        include _template/speaker
        include _template/price
        include _template/discover
        include _template/program
        include _template/price
        include _template/sponsor
        include _template/partner
        include _template/contacts
        include _template/subscribe
        include _template/maps
        include _template/footer


        include _template/macros/modal
        include _template/macros/modalSpeaker


        script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCIHSncEfszY7SQPvBPKwosLiYyzj0fSzQ")
        - for(var i = 0; i < linkSite.scriptLink.length; i++)
            script(src= linkSite.scriptLink[i])