include _mixin/mixin


doctype html
html(lang="en")


    +headSite("KDSi", linkSite.internalStyleLink, "")


    body


        block header
            include _template/_internal/header

        block preparation
            include _template/_internal/preparation

        block box
            include _template/_internal/box

        block subscribe
            include _template/subscribe

        block maps
            include _template/maps

        block footer
            include _template/footer


        script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCIHSncEfszY7SQPvBPKwosLiYyzj0fSzQ")
        - for(var i = 0; i < linkSite.scriptLink.length; i++)
            script(src= linkSite.scriptLink[i])