///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";
///
/// DECLARATION VARIABLE
///
$c-white    : return-value(color, white);

$f-GP_bold  : return-value(fonts, GP_bold);
$f-GP_light : return-value(fonts, GP_light);

///
/// MAIN
///
.slogan {
	position: absolute;
	z-index: 11;
	top: 340px;  left: 15px;
	@include respond-to("small-all") {
		top: 216px;
		left: 15px;
	}


	&__title {
		font: {
			size: 50px;
			family: $f-GP_bold;
		}
		line-height: 1.3;
		margin-bottom: 50px;
		@include respond-to("medium") {
			font-size: 40px;
		}
		@include respond-to("small-all") {
			font-size: 23px;
			margin-bottom: 30px;
		}
	}


	&__text {
		font: {
			size: 18px;
			family: $f-GP_light;
		}
		width: 50%;
		@include respond-to("small-all") {
			font-size: 16px;
			width: 100%;
			padding-right: 15px;
		}
	}

	&__title,
	&__text {
		color: $c-white;
	}
}

