mixin blockWrap()
    .wrap.clearfix
        .wrap-img
            img(src="./img/img-box.png", class="box__img")
        .wrap-text
            p.box-name!= "Название кейса"
            p.box-work!= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
    i.icon-box-0
    i.icon-box-1


.box
    p.main__title!= "КЕЙСЫ"

    .container
        .box__row
            - for(var i = 0; i < 3; i++)
                if(i % 2)
                    .box__main-block.even
                        +blockWrap()
                else
                    .box__main-block
                        +blockWrap()


        .box__more
            a(href="javascript:void(0);", class="btn btn__more")
                | ХОЧУ ПОЛУЧИТЬ 7 ПОЛЕЗНЫХ КЕЙСОВ