
.header
    .container

        include ../macros/logo

        p.header__title
            | <span class="header__title_yellow">ХОТИТЕ УЗНАТЬ,</span>
            br
            | <span class="header__title_blue">КАК БОЛЬШИЕ ДАННЫЕ</span>
            br
            | И МАШИННОЕ ОБУЧЕНИЕ УЖЕ
            br
            | ПРИНОСЯТ ПОЛЬЗУ БИЗНЕСУ?
            | <p class="header__title-text">МЫ СОБРАЛИ 10 САМЫХ ИНТЕРЕСНЫХ КЕЙСОВ ОБ ЭТОМ.</p>