
.preparation
    .container

        p.preparation__title
            | Подготовтесь к <span class="preparation__title_blue">Kyiv Data Spring <i class="preparation__title-icon"></i></span>
            br
            | и узнайте про лучшие примеры использования данных в бизнесе.

        form(action="", class="preparation__form")

            p.preparation__form-title
                |   Оставьте свою почту и получите
                br
                |   наш сборник кейсов про данные и машинное обучение.

            .preparation__form-wrap
                input(type="text", id="preparation__form-input", class="preparation__form-input")
                label(for="preparation__form-input", class="preparation__form-label")
                    i.icon__status

            button(type="submit", class="preparation__form-btn btn__submit")!= "ОТПРАВИТЬ"